<footer>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <small class="block">&copy; 2024 Ade chandra & Khairina wedding All Rights Reserved</small>
          <small class="block">Design by <a href="https://instagram.com/roni_efendi45">@roni_efendi45</a></small>
            <ul class="mt-3">
              <li>
                <a href=""><i class="bi bi-instagram"></i></a>
              </li>
              <li>
                <a href=""><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href=""><i class="bi bi-tiktok"></i></a>
              </li>
              <li>
                <a href=""><i class="bi bi-youtube"></i></a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </footer>
