<section id="gallery" class="gallery">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-10 text-center">
          <span>Memori kisah kami</span>
          <h2>Galleri foto</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente unde, rem, et delectus neque soluta asperiores earum 
            doloribus excepturi ut quae obcaecati incidunt provident ipsum deserunt voluptas aperiam placeat voluptatibus.</p>
        </div>
      </div>

      <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 justify-content-center">
        <div class="col mt-3">
          <a href="https://picsum.photos/id/201/1200/768" data-toggle="lightbox" data-caption="1" data-gallery="mygallery">
            <img src="https://picsum.photos/id/101/400/400" alt="1" class="img-fluid w-100 rounded">
          </a>
        </div>
        <div class="col mt-3">
          <a href="https://picsum.photos/id/101/1200/768" data-toggle="lightbox" data-caption="2" data-gallery="mygallery" >
            <img src="https://picsum.photos/id/101/400/400" alt="2" class="img-fluid w-100 rounded">
          </a>
        </div>
        <div class="col mt-3">
          <a href="https://picsum.photos/id/102/1200/768" data-toggle="lightbox" data-caption="3" data-gallery="mygallery">
            <img src="https://picsum.photos/id/102/400/400" alt="3" class="img-fluid w-100 rounded">
          </a>
        </div>
        <div class="col mt-3">
          <a href="https://picsum.photos/id/103/1200/768" data-toggle="lightbox" data-caption="4" data-gallery="mygallery">
            <img src="https://picsum.photos/id/103/400/400" alt="4" class="img-fluid w-100 rounded">
          </a>
        </div>
        <div class="col mt-3">
          <a href="https://picsum.photos/id/104/1200/768" data-toggle="lightbox" data-caption="5" data-gallery="mygallery">
            <img src="https://picsum.photos/id/104/400/400" alt="5" class="img-fluid w-100 rounded">
          </a>
        </div>
        <div class="col mt-3">
          <a href="https://picsum.photos/id/106/1200/768" data-toggle="lightbox" data-caption="6" data-gallery="mygallery">
            <img src="https://picsum.photos/id/106/400/400" alt="6" class="img-fluid w-100 rounded">
          </a>
        </div>
      </div>
    </div>
  </section>