{% load static %}
<section id="home" class="home">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2>Acara pernikahan</h2>
          <h3>Diselenggarakan pada 20 November 2024 di Bukittinggi,Sumatera Barat. </h3>
          <p>oleh kareana itu dengan segala hormat,kami bermaksud mengundang Saudara/i, untuk hadir pada acara pernikahan kami</p>
        </div>

        <div class="row couple ">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-8 text-end">
                <h3>Roni Efendi,S.T.</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  Consequuntur impedit facere vitae nemo magni dolor!</p>
                <p>Putra dari bapak Nurfizal <br> dan <br> Ibu Kartini</p>
              </div>
              <div class="col-4">
                <img src="{% static 'img/Ade.png' %}" alt="" class="img-responsive rounded-circle">
              </div>
            </div>
          </div>

          <span class="heart"><img src="{% static 'img/heart-fill.svg' %}" alt=""></i></span>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-4">
                <img src="{% static 'img/Ade.png' %}" alt="" class="img-responsive rounded-circle">
              </div>
              <div class="col-8 text-start">
                <h3>Roni Efendi,S.T.</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  Consequuntur impedit facere vitae nemo magni dolor!</p>
                <p>Putra dari bapak Nurfizal <br> dan <br> Ibu Kartini</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>