<section id="story" class="story">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-10 text-center">
          <span>Bagaiamana cinta kami bersemi</span>
          <h2>Cerita kami</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente unde, rem, et delectus neque soluta asperiores earum 
            doloribus excepturi ut quae obcaecati incidunt provident ipsum deserunt voluptas aperiam placeat voluptatibus.</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <ul class="timeline">
            <li>
                <div class="timeline-image" style="background-image: url(https://picsum.photos/299/300);">

              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>Pertama Bertemu</h3>
                    <span>1 Juli 2014</span>
                </div>
                <div class="timeline-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quis dolores sequi facilis perspiciatis, aliquid corporis?</p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-image" style="background-image: url(https://picsum.photos/300/300);">

              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>Mulai serius</h3>
                    <span>1 Juli 2014</span>
                </div>
                <div class="timeline-body">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Neque labore iste sed, hic quos illum delectus ex adipisci!</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image" style="background-image: url(https://picsum.photos/301/300);">

              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3>Tunangan</h3>
                    <span>1 Juli 2014</span>
                </div>
                <div class="timeline-body">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Neque labore iste sed, hic quos illum delectus ex adipisci!</p>
                </div>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </section>