{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "snippets/styles.html" %}
    <title>{{judul}}</title>
</head>
<body>
    <header>
        {% include "snippets/navbar.html" %}
        <div class="container bg-danger">

            {{mydata}}
            {{input_string}}
            <a href="{% url 'land' %}">Dashboard</a>
        </div>
    </header>
    {% include "snippets/js.html" %}
</body>
</html>