{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "snippets/styles.html" %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&family=Work+Sans:ital,wght@0,100;0,400;0,700;1,600&display=swap" rel="stylesheet">
    
    <title>{{judul}}</title>
</head>
<body>
    <header>
        {% include "snippets/navbar.html" %}
        <div class="container bg-danger">

            {{mydata}}
            {{input_string}}
            <a href="{% url 'land' %}">Dashboard</a>
        </div>
    </header>
    {% include "snippets/js.html" %}
</body>
</html>